In [1]:
import numpy as np
import pandas as pd

In [3]:
worldcup_teams =['Egypt', 'Russia', 'Saudi Arabia', 'Uruguay', 'Iran', 'Morocco',
       'Portugal', 'Spain', 'Australia', 'Denmark', 'France', 'Peru',
       'Argentina', 'Croatia', 'Iceland', 'Nigeria', 'Brazil',
       'Costa Rica', 'Serbia', 'Switzerland', 'Germany', 'Mexico',
       'Korea Republic', 'Sweden', 'Belgium', 'England', 'Panama', 'Tunisia',
       'Colombia', 'Japan', 'Poland', 'Senegal']

#https://gitlab.com/djh_or/2018-world-cup-stats/blob/master/world_cup_2018_stats.csv
world_cup_results = pd.read_csv("data/world_cup_2018_stats.csv")
world_cup_results.head()

,Game,Group,Team,Opponent,Home/Away,Score,WDL,Pens?,Goals For,Goals Against,...,Passes Completed,Distance Covered km,Balls recovered,Tackles,Blocks,Clearances,Yellow cards,Red Cards,Second Yellow Card leading to Red Card,Fouls Committed
0,1,A,Russia,Saudi Arabia,home,5-0,W,NaN,5,0,...,240,118,53,9,3,19,1,0,0,22
1,1,A,Saudi Arabia,Russia,away,5-0,L,NaN,0,5,...,442,105,48,16,3,31,1,0,0,10
2,2,A,Egypt,Uruguay,home,0-1,L,NaN,0,1,...,308,112,57,12,4,32,2,0,0,12
3,2,A,Uruguay,Egypt,away,0-1,W,NaN,1,0,...,508,111,54,8,2,22,0,0,0,6
4,3,B,Morocco,IR Iran,home,0-1,L,NaN,0,1,...,371,101,38,9,1,16,1,0,0,22

In [4]:
(set(worldcup_teams) - set(world_cup_results['Team'].unique())).union(\
    (set(world_cup_results['Team'].unique()) - set(worldcup_teams)))

{'IR Iran', 'Iran'}

In [5]:
world_cup_results['Team'] = world_cup_results['Team'].replace('IR Iran', 'Iran')

In [6]:
(set(worldcup_teams) - set(world_cup_results['Team'].unique())).union(\
    (set(world_cup_results['Team'].unique()) - set(worldcup_teams)))

set()

In [7]:
world_cup_results.head()

,Game,Group,Team,Opponent,Home/Away,Score,WDL,Pens?,Goals For,Goals Against,...,Passes Completed,Distance Covered km,Balls recovered,Tackles,Blocks,Clearances,Yellow cards,Red Cards,Second Yellow Card leading to Red Card,Fouls Committed
0,1,A,Russia,Saudi Arabia,home,5-0,W,NaN,5,0,...,240,118,53,9,3,19,1,0,0,22
1,1,A,Saudi Arabia,Russia,away,5-0,L,NaN,0,5,...,442,105,48,16,3,31,1,0,0,10
2,2,A,Egypt,Uruguay,home,0-1,L,NaN,0,1,...,308,112,57,12,4,32,2,0,0,12
3,2,A,Uruguay,Egypt,away,0-1,W,NaN,1,0,...,508,111,54,8,2,22,0,0,0,6
4,3,B,Morocco,IR Iran,home,0-1,L,NaN,0,1,...,371,101,38,9,1,16,1,0,0,22

In [8]:
test = world_cup_results[world_cup_results.index % 2 == 0].reset_index(drop = True)
test = test[['Team', 'Opponent', 'WDL']]
test.loc[test['WDL'] == 'L', 'WDL'] = 0
test.loc[test['WDL'] == 'W', 'WDL'] = 1
test.loc[test['WDL'] == 'D', 'WDL'] = 2

In [9]:
test.head()

       Team      Opponent WDL
0    Russia  Saudi Arabia   1
1     Egypt       Uruguay   0
2   Morocco       IR Iran   0
3  Portugal         Spain   2
4    France     Australia   1

In [10]:
#https://www.kaggle.com/tadhgfitzgerald/fifa-international-soccer-mens-ranking-1993now
rankings = pd.read_csv('data/fifa_ranking.csv')
rankings['rank_date'] = pd.to_datetime(rankings['rank_date'])
rankings_after2018 = rankings[rankings['rank_date'] > pd.to_datetime('2018-01-01')]

In [11]:
rankings_dates[2018- >  rankings_dates].max()

In [ ]:
rankings_dates_after2018 = rankings_after2013.rank_date.unique()
test['latest_ranking_date'] = int_results_after2014['date'].apply(\
                                        get_latest_ranking_date, args = [rankings_dates_after2013])